body{
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#battleContainer{
    background-color: grey;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 370px;
}
#playerBox{
    background-color: aqua;
    float: left;
    height: 150px;
}
#enemyBox{
    background-color: brown;
    float: right;
    height: 150px;
}