html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, grey 0%, green 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
#turnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    border: solid 1px white;
    background-color: dimgray;
    color: white;
}
#battleContainer{
    display: flex;
    border: solid 1px black;
    gap: 300px;
    padding: 50px;
    background-color: mediumspringgreen;
}
#playerBox{
    float: left;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
#enemyBox{
    float: right;
    width: fit-content;
    height: fit-content;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: crimson;
}
#choiceBox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    flex-direction: column;
    gap: 20px;
}
#choiceBox button{
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
}
pre{
    font-size: larger;
}