body{
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#battleContainer{
    background-color: grey;
    width: 400px;
    display: flex;
}
#playerBox{
    background-color: aqua;
    float: left;
}
#enemyBox{
    background-color: brown;
    float: right;
}