html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #333399 0%, #cc6699 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    scale: 25%;
    margin-top: -300px;
    margin-bottom: -300px;
    border-radius: 600px;
}
#nav{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
#nav a{
    font-size: 30px;
    background-color: #333399;
    border-radius: 20px;
    padding: 10px;
}
#nav a:hover{
    background-color: fuchsia;
}
.register{
    color: hotpink;
}
.login{
    color: violet;
}