html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #333399 0%, #cc6699 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    color: fuchsia;
}
#message{
    background-color: black;
    color: fuchsia;
}