body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: skyblue;
}
#turnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    border: solid 1px green;
    background-color: mediumspringgreen;
}
#battleContainer{
    display: flex;
    border: solid 1px black;
    gap: 100px;
    padding: 50px;
    background-color: mediumspringgreen;
}
#playerBox{
    float: left;
    width: fit-content;
    height: fit-content;
    border: solid 1px blue;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
#enemyBox{
    float: right;
    width: fit-content;
    height: fit-content;
    border: solid 1px red;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
#choiceBox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px violet;
    padding: 40px;
    flex-direction: column;
    gap: 20px;
}