body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #ccb3ff;
}
#profile{
    background-color:  #d9d9d9;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 2px #ccb3ff;
    font-size: 22px;
}
#dashNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d9d9d9;
    padding: 20px;
    border: solid 2px #aa80ff;
    position: fixed;
    left: 75%;
}
#dashNav a{
    color: #aa80ff;
    font-size: 22px;
}
#dashNav a:hover{
    color: darkcyan;
}
#profilePic{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#uploadPic{
    margin-top: 20px;
}