body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
}
#profile{
    background-color: silver;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 2px black;
}
#dashNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: silver;
    padding: 20px;
    border: solid 2px black;
    position: fixed;
    left: 75%;
}
#dashNav a{
    color: darkslategray;
    font-size: 22px;
}
#dashNav a:hover{
    color: red;
}